#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  display: flex;
}

form {
  display: inline-flex;
  flex-direction: column;
  width: 200px;
}

#field-name {
  display: block;
  margin-bottom: 80px;
}

p {
  font-weight: bold;
  color: red;
}

div {
  height: 100px;
  width: 100px;
  margin: 5px;
}

#car-form {
  margin: 0 300px;
}

table, th, td {
  margin: 10px;
  width: 800px;
  height: 30px;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  font-size: 20px;
  font-weight: bold;
}

td {
  text-align: center;
}